
html, body {
    height: 100%;
    background: #fff !important;
}

.row {
    background: #fff !important;
}
body {
}
.page-content {
    padding-top: 3.125rem;
    min-height: 100%;
    height: 100%;
}
.table .input-control.checkbox {
    line-height: 1;
    min-height: 0;
    height: auto;
}

.base-title{
    padding-left: 0px;
    margin-left: 0px;
}

.container-base{
    border: 1px dotted #E9C1FC;
    margin-bottom: 10px;
}

.box-comment{
    border: 1px dotted #E9C1FC;
    margin-bottom: 10px;
    background: #FFFEFE;
    margin-top: 20px;
    line-height: 20px;
}

.menu-base, .menu-base li{
    float: left !important;
}

.score-hide .score{
    visibility: visible !important;
    display: none;
}

@media screen and (max-width: 800px){
    #cell-sidebar {
        flex-basis: 52px;
    }
    #cell-content {
        flex-basis: calc(100% - 52px);
    }
}

.base-image{
    height: 200px !important;
}

.loading-container{
    background: rgba(206, 97, 58, 0.8);
    width: 100%;
    padding:10px;
    position: fixed;
    bottom: 0% !important;
    z-index: 999999;
}

.loading-container .loading-text{
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
}